{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="header-right-btn f-right d-none d-lg-block ml-30">
        <a href="{% url 'home' %}" class="header-btn">Return To Site</a>
      </div>
    </header>
    {% if not success %}
    <form
      action=""
      class="form"
      id="forms"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <h3 class="text-center">Nice To Hear Your Feedback</h3>
      <div class="step-forms step-forms-active">
        {% for field in form %}
        <div class="group-inputs">
          <label for="">{{field.label}}</label>
          {{field}}
        </div>
        {% endfor %}
        <div class="btns-group">
          <input type="submit" value="Submit" class="btn" />
        </div>
      </div>
    </form>
    {% else %}
    <div class="welcome">
      <div class="content">
        <svg
          class="checkmark"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 52 52"
        >
          <circle
            class="checkmark__circle"
            cx="26"
            cy="26"
            r="25"
            fill="none"
          />
          <path
            class="checkmark__check"
            fill="none"
            d="M14.1 27.2l7.1 7.2 16.7-16.8"
          />
        </svg>
        <h2>Thanks for Feedback!</h2>
      </div>
    </div>
    {% endif %}
  </body>
</html>
