{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/booking.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="header-right-btn f-right d-none d-lg-block ml-30">
        <a href="{% url 'home' %}" class="header-btn">Return To Site</a>
      </div>
    </header>
    <form
      action="{% url 'feedback' %}"
      class="form"
      id="forms"
      onsubmit="event.preventDefault()"
    >
      {% csrf_token %}
      <h3 class="text-center">Nice To Hear Your Feedback</h3>
      <div class="progressbar">
        <div class="progress" id="progress"></div>

        <div class="progress-step progress-step-active" data-title="Info"></div>

        <div class="progress-step" data-title="Feedback"></div>
      </div>
      <div class="step-forms step-forms-active">
        <div class="group-inputs">
          <label for="username">Name</label>
          <input
            type="text"
            name="username"
            id="username"
            value="{{ form.name.value }}"
          />
        </div>
        <div class="group-inputs">
          <label for="username">Email</label>
          <input
            type="text"
            name="username"
            id="username"
            value="{{ form.email.value }}"
          />
        </div>
        <div class="group-inputs">
          <label for="position">Profile Picture</label>
          <input
            type="file"
            name="position"
            id="position"
            value="{{ form.avatar.value }}"
          />
        </div>
        <div class="">
          <a href="#" class="btn btn-next width-50 ml-auto">Next</a>
        </div>
      </div>
      <div class="step-forms">
        <div class="group-inputs">
          <label for="ID">Message</label>
          <textarea id="" cols="30" rows="10">
{{ form.message.value }}</textarea
          >
        </div>
        <div class="btns-group">
          <a href="#" class="btn btn-prev">Previous</a>
          <input type="submit" value="Submit" id="submit-form" class="btn" />
        </div>
      </div>
    </form>

    <script src="{% static 'js/booking.js' %}"></script>
  </body>
</html>
