{% extends "main.html" %}
{% load static %}
{% block content %}
{% include "header.html" %}
<main>
    <div class="slider-area position-relative">
        <div class="slider-active">
            <div class="single-slider position-relative hero-overly slider-height2  d-flex align-items-center" data-background="">
                <div class="container">
                 <div class="row">
                     <div class="col-xl-6 col-lg-6">
                        <div class="hero-caption hero-caption2">
                            <img src="{% static 'img/logo/stylist.png' %}" class="rotateme"
                        src="{% static 'img/logo/stylist.png' %}"
                        alt=""
                        data-animation="zoomIn"
                        data-delay="1s"
                        height="100">
                            <h2 data-animation="fadeInLeft" data-delay=".4s">Services</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="hero-img hero-img2">
                <img src="{% static 'img/gallery/hero_image.jpg' %}" style="width: 626px;
                height: 340px;" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
            </div> {% endcomment %}
        </div>
      </div>
      </div>
      <section class="section_homepage section_image-with-text" style="margin-top:40px">
        <div class="container">
          <div class="item_wrap image_left" style="display:flex;gap:60px">
            <div class="item_img"><a href="/collections/all"><img src="{% static 'img/gallery/virtual.jpeg' %}" alt="" style="    height: 100%;
                width: -webkit-fill-available;
                object-fit: cover;width:700px;"></a></div>
      
              <div class="item_txt">
                  <div class="item_txt__wrapper" style="display:flex;flex-direction:column;gap:20px"><h2 style="font-size:28px;font-family:'Dancing Script'">Empower, Love, and Thrive with In-Person & Virtual Elegance</h2><p style="font-size:18px;color:rosybrown;">Step into my world of fashion styling services, where you're welcomed with empowerment, love, and beauty. Experience success through personalized in-person and virtual services, tailored to your unique requests.</p>
                </div>
              </div>
          </div>
      </div>
      </section>
    <!-- Clients Offers Start -->
    <div class="clients-area section-padding40">
        <div class="container">
            <div class="row">
                {% for service in services  %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" >
                        <div class="offers-img">
                            <img src="{{service.main_image.url}}" alt="">
                        </div>
                        <div class="offers-cap">
                            <span>{{ forloop.counter }}</span>
                            <h3 style="font-size:25px"><a href="{% url "service" service.id %}">{{service.title}}</a></h3>
                            <p class="services-p">{{service.short_description|slice:'100'}}...<a href="{% url 'service' service.id %}"><i class="fa fa-arrow-right"></i></a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="item_wrap image_left" style="display:flex;gap:60px">
                <div class="item_img"><a href=""><img src="{% static 'img/gallery/my_signature.JPG' %}" alt="" style="    height: 100%;
                    width: -webkit-fill-available;
                    object-fit: cover;width:700px;"></a></div>
          
                  <div class="item_txt">
                      <div class="item_txt__wrapper" style="display:flex;flex-direction:column;gap:20px"><h2 style="font-size:28px;font-family:'Dancing Script'">MY SIGNATURE SERVICE</h2><p style="font-size:18px;color:rosybrown;">Ever find yourself staring at your closet, convinced you have nothing to wear? Or perhaps your wardrobe is bursting, yet you're unsure of your true style? Enter the "Virtual Wardrobe Edit" your answer to fashion confusion, and an excellent choice, especially if you're miles away!
                </p><a class="btn" href="https://manalissa.com/services/6b7b2986-0642-43cf-bdc1-3de4e41fd538">View Details</a></div>
                  </div>
              </div>
            {% include "pagination.html" with queryset=services custom_range=custom_range %}
        </div>
    </div>
    <!-- Clients Offers End -->
    {% comment %} <section class="section_homepage section_image-with-text" style="margin-top:40px">
        <div class="container">
          <div class="item_wrap image_left" style="display:flex;gap:60px">
            <div class="item_img"><a href=""><img src="{% static 'img/gallery/my_signature.JPG' %}" alt="" style="    height: 100%;
                width: -webkit-fill-available;
                object-fit: cover;width:700px;"></a></div>
      
              <div class="item_txt">
                  <div class="item_txt__wrapper" style="display:flex;flex-direction:column;gap:20px"><h2 style="font-size:45px;font-family:'Dancing Script'">SIGNATURE SERVICE</h2><h4 style="font-size:x-large;color:rosybrown;">Ever find yourself staring at your closet, convinced you have nothing to wear? Or perhaps your wardrobe is bursting, yet you're unsure of your true style? Enter the "Virtual Wardrobe Edit" your answer to fashion confusion, and an excellent choice, especially if you're miles away!
            </h4><a class="btn" href="http://167.99.131.37/services/6b7b2986-0642-43cf-bdc1-3de4e41fd538">View Details</a></div>
              </div>
          </div>
      </div>
      </section> {% endcomment %}
</main>

{% include "footer.html" %}

{% endblock content %}
