{% extends "main.html" %}
{% load static %}
{% block content %}
{% include "header.html" %}
<main>
    <div class="slider-area position-relative">
        <div class="slider-active">
            <div class="single-slider position-relative hero-overly slider-height2  d-flex align-items-center" data-background="{% static 'img/hero/h1_hero.png' %}">
                <div class="container">
                 <div class="row">
                     <div class="col-xl-6 col-lg-6">
                        <div class="hero-caption hero-caption2">
                            <img src="{% static 'img/hero/hero-icon.png' %}" alt="" data-animation="zoomIn" data-delay="1s">
                            <h2 data-animation="fadeInLeft" data-delay=".4s">Services</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-img hero-img2">
                <img src="{% static 'img/gallery/hero_image.jpg' %}" style="width: 626px;
                height: 340px;" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
            </div>
        </div>
      </div>
      </div>
    <!-- Clients Offers Start -->
    <div class="clients-area section-padding40">
        <div class="container">
            <div class="row">
                {% for service in services  %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" >
                        <div class="offers-img">
                            <img src="{{service.main_image.url}}" alt="">
                        </div>
                        <div class="offers-cap">
                            <span>1</span>
                            <h3><a href="{% url "service" service.id %}">{{service.title}}</a></h3>
                            <p>{{service.short_description|slice:'80'}}.</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include "pagination.html" with queryset=services custom_range=custom_range %}
        </div>
    </div>
    <!-- Clients Offers End -->
</main>

{% include "footer.html" %}

{% endblock content %}
