{% extends "main.html" %}
{% load static %}
{% block content %}
{% include "header.html" %}
<main>
    <div class="slider-area position-relative">
        <div class="slider-active">
            <div class="single-slider position-relative hero-overly slider-height2  d-flex align-items-center" data-background="{% static 'img/gallery/slide1.jpeg' %}" style="background-position-y: -540px;">
                <div class="container">
                 <div class="row">
                     <div class="col-xl-6 col-lg-6">
                        <div class="hero-caption hero-caption2">
                            <img src="{% static 'img/logo/stylist.png' %}" class="rotateme"
                        src="{% static 'img/logo/stylist.png' %}"
                        alt=""
                        data-animation="zoomIn"
                        data-delay="1s"
                        height="100">
                            <h2 data-animation="fadeInLeft" data-delay=".4s">Services</h2>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %} <div class="hero-img hero-img2">
                <img src="{% static 'img/gallery/hero_image.jpg' %}" style="width: 626px;
                height: 340px;" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
            </div> {% endcomment %}
        </div>
      </div>
      </div>
      <section class="section_homepage section_image-with-text" style="margin-top:40px">
        <div class="container">
          <div class="item_wrap image_left" style="display:flex;gap:60px">
            <div class="item_img"><a href="/collections/all"><img src="//theme640-multifly-free.myshopify.com/cdn/shop/files/image_02_670x416_crop_center.jpg?v=1613739204" alt="" style="    height: 100%;
                width: -webkit-fill-available;
                object-fit: cover;"></a></div>
      
              <div class="item_txt">
                  <div class="item_txt__wrapper" style="display:flex;flex-direction:column;gap:20px"><h2 style="font-size:45px;font-family:'Montsserat'">Virtual Styling</h2><h4 style="font-size:x-large;color:rosybrown;text-align:justify">Welcome to a world where fashion meets convenience! I bring the latest trends and timeless styles right to your doorstep, no matter where you are on the continent.
            
            Embrace the future of fashion with my Virtual Styling Services, tailored to suit your unique taste and lifestyle.
            </h4><a class="btn" href="#">View Details</a></div>
              </div>
          </div>
      </div>
      </section>
    <!-- Clients Offers Start -->
    <div class="clients-area section-padding40">
        <div class="container">
            <div class="row">
                {% for service in services  %}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" >
                        <div class="offers-img">
                            <img src="{{service.main_image.url}}" alt="">
                        </div>
                        <div class="offers-cap">
                            <span>1</span>
                            <h3><a href="{% url "service" service.id %}">{{service.title}}</a></h3>
                            <p>{{service.short_description|slice:'80'}}.</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include "pagination.html" with queryset=services custom_range=custom_range %}
        </div>
    </div>
    <!-- Clients Offers End -->
</main>

{% include "footer.html" %}

{% endblock content %}
