{% extends "main.html" %}
{% load static %}
{% load humanize %}
{% block content %}
{% include "header.html" %}

<main>
<div class="slider-area position-relative">
  <div class="slider-active">
    <div class="single-slider position-relative hero-overly slider-height2  d-flex align-items-center" data-background="">
          <div class="container">
           <div class="row">
               <div class="col-xl-6 col-lg-6">
                  <div class="hero-caption hero-caption2">
                    <img src="{% static 'img/logo/stylist.png' %}" class="rotateme"
                    src="{% static 'img/logo/stylist.png' %}"
                    alt=""
                    data-animation="zoomIn"
                    data-delay="1s"
                    height="100">
                      <h2 data-animation="fadeInLeft" data-delay=".4s">{{service.title}}</h2>
                  </div>
              </div>
          </div>
      </div>
      {% comment %} <div class="hero-img hero-img2">
          <img src="{% static 'img/gallery/hero_image.jpg' %}" style="width: 626px;
          height: 340px;" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
      </div> {% endcomment %}
  </div>
</div>
</div>
  <main class="main">
    <article>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Please read and agree to the terms and conditions.</p>
              <form id="termsForm">
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="agreeCheck">
                  <label class="form-check-label" for="agreeCheck"> I agree to the terms and conditions</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="acceptBtn" disabled>Accept</button>
            </div>
          </div>
        </div>
      </div>
      <p class="mt-50" style="font-size:20px">
        {{service.short_description}}
      </p>
      <img src="{{service.main_image.url}}" style="height:500px;object-fit:contain"/>
    </article>
  
    <article>
      <p style="font-size:20px">
        {% if service.long_description %}
          {{ service.long_description|linebreaksbr }}
        {% endif %}
      </p>
    </article>
    
    <article class="highlight-section">
      <div class="first">
        {% if service.image_1 %}
          <img src="{{ service.image_1.url }}" alt="Director Andrei Tarkovsky with a movie camera" style="width: 450px;"/>
        {% endif %}
      </div>
      {% if service.what_include %}
      <div class="highlight" style="background-color:#F2E1D9;width:100%;">
        <h3 style="color:black;font-size:x-large">💡 What Includes</h3>
        <ul class="m-0 list-unstyled">
          {% for line in service.what_include.splitlines %}
              <li class="d-flex align-items-center justify-content-start" style="color:#98a0b3;font-size:medium">
                <img src="{% static 'img/icon/hanger-icon.jpg' %}" style="width:40px;margin-block:unset !important;" class="mr-4">
                {{ line }}
              </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </article>
    <div class="d-flex justify-content-center">
      <button type="button" class="header-btn" data-toggle="modal" data-target="#exampleModal">
        Book Now
      </button>
    </div>
    
    {% comment %} <article class="last">
      <div class="first">
        <h2 style="color:black">In Addition</h2>
        <ul class="m-0 list-unstyled">
          {% for line in service.in_addition.splitlines %}
            {% if line %}
              <li class="d-flex align-items-center justify-content-start" style="color:#98a0b3">
                <img src="{% static 'img/icon/clothes-hanger.png' %}" style="width:20px;margin-block:unset !important;color:black" class="mr-4">
                {{ line }}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="second">
        {% if service.image_2 %}
          <img src="{{ service.image_2.url }}" alt="" />
        {% endif %}
      </div>
    </article> {% endcomment %}
  </main>
</main>
  {% include "footer.html" %}

{% endblock content %}