{% extends "main.html" %} {% load static %} {% block content %} {% include "header.html" %}
<main>
  <!--? slider Area Start-->
  {% for s in slider %}
  <div class="slider-area position-relative">
    <div class="slider-active">
      <!-- Single Slider -->
      <div
        class="single-slider position-relative hero-overly slider-height d-flex align-items-center"
        data-background="{{s.image.url}}"
      >
        <div class="container" style="position: absolute;top: 10rem;left: 5rem;">
          <div class="row">
            <div class="col-xl-6 col-lg-6">
              <div class="hero-caption">
                {% comment %} <img
                  class="rotateme"
                  src="{% static 'img/logo/stylist.png' %}"
                  alt=""
                  data-animation="zoomIn"
                  data-delay="1s"
                  height="100"
                /> {% endcomment %}
                <h1
                  data-animation="fadeInLeft"
                  data-delay=".4s"
                  style="font-size: 38px !important"
                >
                  {{s.main_title}}
                </h1>
                <p data-animation="fadeInLeft" data-delay=".6s">
                  {{s.subtitle}}
                </p>
                <!-- Hero Btn -->
                <a
                  href="{% url 'services' %}"
                  class="btn"
                  data-animation="fadeInLeft"
                  data-delay=".8s"
                  >Our Services</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Left img -->
        {% comment %} <div class="hero-img">
          <img
            src="{{s.image.url}}"
            alt=""
            data-animation="fadeInRight"
            data-transition-duration="5s"
            style="width: 600px"
          />
        </div> {% endcomment %}
      </div>
    </div>
  </div>
  {% endfor %}
  <!-- slider Area End-->
    <!--? Visit Our Tailor Start -->
    <section class="visit-tailor-area fix" style="margin-top:40px">
      {% for a in about  %}
      <div class="tailor-offers" data-background="{{a.image.url}}"></div>
      <div class="tailor-details">
        <h2 style="text-wrap: balance;">{{a.main_title}}</h2>
        <p class="pera-top">{{a.main_top}}</p>
        <p class="pera-bottom">{{a.main_bottom}}</p>
        {% endfor %}
        <a href="{% url 'about' %}" class="btn">More About Us</a>
      </div>
    </section>
    <!-- Visit Our Tailor End -->
<!--? Services Area Start -->
<section class="categories-area section-padding40">
  <div class="container">
    <!-- section Tittle -->
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-7 col-sm-9">
        <div class="section-tittle text-center mb-60">
          <h2>Why use our service?</h2>
        </div>
      </div>
    </div>
    <div class="row">
      {% for w in whyUs %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div
          class="single-cat mb-50 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay=".2s"
        >
          <div class="cat-icon">
            <img src="{{w.icon_1.url}}" alt="" />
          </div>
          <div class="cat-cap">
            <h5>{{w.title_1}}</h5>
            <p>{{w.text_1}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div
          class="single-cat mb-50 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay=".2s"
        >
          <div class="cat-icon">
            <img src="{{w.icon_2.url}}" alt="" />
          </div>
          <div class="cat-cap">
            <h5>{{w.title_2}}</h5>
            <p>{{w.text_2}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div
          class="single-cat mb-50 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay=".2s"
        >
          <div class="cat-icon">
            <img src="{{w.icon_3.url}}" alt="" />
          </div>
          <div class="cat-cap">
            <h5>{{w.title_3}}</h5>
            <p>{{w.text_3}}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div
          class="single-cat mb-50 wow fadeInUp"
          data-wow-duration="1s"
          data-wow-delay=".2s"
        >
          <div class="cat-icon">
            <img src="{{w.icon_4.url}}" alt="" />
          </div>
          <div class="cat-cap">
            <h5>{{w.title_4}}</h5>
            <p>{{w.text_4}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!--? Services Area End -->
<section class="section_homepage section_image-with-text">
  <div class="container">
	<div class="item_wrap image_left" style="display:flex;gap:60px">
		<div class="item_img"><a href=""><img src="{% static 'img/gallery/work-portrait.jpg' %}" alt="" style="height:600px;
      width: -webkit-fill-available;
      object-fit: cover;width:700px"></a></div>

		<div class="item_txt" style="display:flex;flex-direction:column;justify-content:space-between;">
			<div class="item_txt__wrapper" style="display:flex;flex-direction:column;gap:20px"><h2 style="font-size:42px;font-family:'Dancing Script'">Elevate Your Wardrobe In-Person & Virtually
      </h2><h4 style="font-size:larger;color:rosybrown;text-align:justify">Transform your world with our unique blend of virtual and in-person styling services! Experience the convenience of virtual consultations, and for those seeking a more personalized touch, all our virtual services are also available in person upon request.<br/> Our calendar is open, featuring updated locations and available timings, ensuring your style journey is both flexible and tailored. Whether we connect through screens or in the same space, let's curate a wardrobe that speaks volumes about your unique style! 
      </h4>
    </div>
    <button type="button" class="btn" data-animation="fadeInLeft" data-delay=".8s" data-toggle="modal" data-target="#exampleModal">
      Book Now
    </button>
		</div>
	</div>
</div>
</section>
  <!--? Clients Offers Start -->
  <div class="clients-area section-padding40">
    <div class="container">
      <h1 class="text-center mb-30">Services</h1>
      <div class="row">
        {% for s in service_f  %}
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s">
            <div class="offers-img">
              <img src="{{s.main_image.url}}" alt="" />
            </div>
            <div class="offers-cap">
              <span>{{ forloop.counter }}</span>
              <h3 style="font-size:25px"><a href="{% url "service" s.id %}">{{s.title}}</a></h3>
              <p class="services-p">{{s.short_description|slice:'100'}}...<a href="{% url 'service' s.id %}"><i class="fa fa-arrow-right"></i></a></p>
          </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="d-flex justify-content-center">
        <a href="{% url 'services' %}" class="btn" data-animation="fadeInLeft" data-delay=".8s"
          >More Services</a
        >
      </div>
    </div>
  </div>
  <!-- Clients Offers End -->
  
  <div class="container">
    <h1 class="text-center mb-30">Gallery</h1>
    <div class="gallery-container">
      {% for g in gallery %}
      <div class="panel active">
        <img
          src="{{g.image_1.url}}"
          alt="Image 1"
        />
      </div>
      <div class="panel">
        <img
          src="{{g.image_2.url}}"
          alt="Image 2"
        />
      </div>
      <div class="panel">
        <img
          src="{{g.image_3.url}}"
          alt="Image 3"
        />
      </div>
      {% endfor %}
    </div>
    <div class="d-flex justify-content-center mt-20">
      <a href="{% url 'gallery' %}" class="btn" data-animation="fadeInLeft" data-delay=".8s"
        >Show More</a
      >
    </div>
  </div>
  <!-- instagram-social End -->
</main>
{% include "footer.html" %} {% endblock content %}
