{% extends "main.html" %}
{% load static %}
{% block content %}
{% include "header.html" %}
<div class="gallery-page">
<main >
    <div class="slider-area position-relative">
        <div class="slider-active">
            <div class="single-slider position-relative hero-overly slider-height2  d-flex align-items-center" data-background="{% static 'img/hero/h1_hero.png' %}">
                <div class="container">
                 <div class="row">
                     <div class="col-xl-6 col-lg-6">
                        <div class="hero-caption hero-caption2">
                            <img src="{% static 'img/hero/hero-icon.png' %}" alt="" data-animation="zoomIn" data-delay="1s">
                            <h2 data-animation="fadeInLeft" data-delay=".4s">Gallery</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-img hero-img2">
                <img src="{% static 'img/gallery/banner.jpg' %}" style="width: 626px;
                height: 320px;" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
            </div>
        </div>
    </div>
</div>
<div class="cont">
    {% for multi_image in multi_images %}
            <img id="{{multi_image.id}}" class="img1" src="{{ multi_image.image.url }}" alt="Image">
    {% endfor %}
</div>

{% include "pagination.html" with queryset=multi_images custom_range=custom_range %}

<div class="overlay" id="overlay">
    <span class="close-btn" onclick="closeOverlay()">X</span>
    <img id="expandedImg" class="img1">
</div>
        
</main>
{% include "footer.html" %}
</div>
{% endblock content %}