{% extends "main.html" %}
{% load static %}
{% block content %}
{% include "header.html" %}
<main>
    <div class="slider-area position-relative">
        <div class="slider-active">
            <div class="single-slider position-relative hero-overly slider-height2  d-flex align-items-center" data-background="{% static 'img/hero/h1_hero.png' %}">
                <div class="container">
                 <div class="row">
                     <div class="col-xl-6 col-lg-6">
                        <div class="hero-caption hero-caption2">
                            <img src="{% static 'img/hero/hero-icon.png' %}" alt="" data-animation="zoomIn" data-delay="1s">
                            <h2 data-animation="fadeInLeft" data-delay=".4s">Gallery</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-img hero-img2">
                <img src="{% static 'img/hero/h2_hero2.png' %}" alt=""  data-animation="fadeInRight" data-transition-duration="5s">
            </div>
        </div>
    </div>
</div>
    <div class="image-gallery">
        {% for image in multi_image.image_set.all %}
            <img src="{{ image.image.url }}" alt="Image">
        {% endfor %}
    </div>
</main>
{% include "footer.html" %}
{% endblock content %}