{% extends "main.html" %} {% load static %} {% block content %} {% include "header.html" %}
<div class="terms-main">
    <div class="terms-title">
        Terms and Policies
    </div>
    <div class="terms-sub-title">
        <h2>SCOPE OF WORK</h2>
        <p>THE FASHION STYLIST agrees to provide Fashion related consultancy as well as other related services to
            the client as defined on the company’s website and social media pages. All services that are not spelled out on
            the website and social media pages of the company shall be discussed amongst both parties and the niceties
            of the future services shall be delineated.
        </p>
    </div>
    <div class="terms-sub-title">
        <h2>TERMS</h2>
        <p>The Agreement shall commence effectively upon the signing of this agreement by both parties until the scope
            of the work defined in the Description of Services is completed. Termination or extension is at the consensus
            of both parties.
        </p>
    </div>
    <div class="terms-sub-logo">
        <img src="https://manalissa.com/Logo_Horizontal_White_.png" width="300px"/>
    </div>
</div>
{% endblock %}