.gallery-container {
    display: flex;
}

.panel {
    height: 80vh;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: flex 700ms ease-in;
}

.panel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire space */
}

.panel.active {
    flex: 5;
}

/* @media (max-width: 780px) {
    .gallery-container {
        width: 100%;
        flex-direction: column;
        height: 100vw;
    }
} */
@media (max-width: 480px) {
    .panel:nth-of-type(3),.panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}
@media (max-width: 750px) {
    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}