:root {
    /* Colors: */
    --bg: #16181d;
    --accent: #5686f5;
    --accent-10: #5686f510;
    --emphasis: #e8e8fd;
    --text: #98a0b3;
    /* Typography */
    --h1: 2.25rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --paragraph: clamp(1rem, 0.875rem + 0.4vw, 1.125rem);
    --info-text: 1rem;
    --text-width-wide: 70ch;
    --text-width-medium: 60ch;
    --fw-bold: 700;
    --fw-regular: 500;
    --fw-light: 300;
    /* Spacing */
    --spacing-xxs: 0.5em;
    --spacing-xs: 1em;
    --spacing-s: 1.5em;
    --spacing-m: 3em;
    --spacing-l: 6em;
    --spacing-xl: 8em;
    /* Misc */
    --radius-xs: 0.25em;
    --radius-s: 0.5em;
    --center-it: auto;
}

.main {
    margin-top: var(--spacing-m);
    padding-block: var(--spacing-m);
}

.main article {
    margin: var(--center-it);
    max-width: 100ch;
}

.main article>p~p {
    margin-bottom: var(--spacing-s);
}

.main h1 {
    color: var(--emphasis);
    margin-bottom: var(--spacing-s);
    font-size: var(--h1);
    font-weight: var(--fw-bold);
}

.main h2 {
    color: var(--emphasis);
    margin-bottom: var(--spacing-s);
    margin-top: var(--spacing-m);
    font-size: var(--h2);
    font-weight: var(--fw-bold);
}

.main h3 {
    color: var(--accent);
    margin-bottom: var(--spacing-s);
    font-size: var(--h3);
    font-weight: var(--fw-bold);
}

.main p {
    font-size: var(--paragraph);
    color: var(--text);
    line-height: 32px;
    letter-spacing: 0.25px;
}

.main em {
    color: var(--emphasis);
}

.main cite {
    font-weight: var(--fw-light);
    color: var(--emphasis);
    font-style: italic;
}

.main .info_block {
    display: flex;
    gap: 6px;
    margin-bottom: var(--spacing-xs);
}

.main .info {
    font-size: var(--info-text);
    color: var(--text);
}

.main .likes,
.replies,
.mentions {
    font-size: var(--info-text);
    color: var(--accent);
}

.main .last_update {
    display: inline-block;
    background-color: var(--accent-10);
    color: var(--accent);
    margin-bottom: var(--spacing-l);
    font-size: var(--info-text);
    padding: var(--spacing-xxs) var(--spacing-xs);
    border-radius: var(--radius-s);
}

.main .link {
    color: var(--accent);
    cursor: pointer;
}

.main img {
    width: 100%;
    margin-block: var(--spacing-m);
    border-radius: var(--radius-xs);
}

.main .highlight-section {
    display: flex;
    gap: 20px;
}

@media (max-width:800px){
    .highlight.special{
        flex-direction: column;
        gap: 10px;
    }
    .highlight.special img{
        width: 100% !important;
    }
}

.main .highlight {
    margin: var(--center-it);
    margin-bottom: var(--spacing-m);
    background-color: var(--accent-10);
    /* max-width: var(--text-width-medium); */
    border-radius: var(--radius-s);
    padding: 5rem 15rem 5rem 15rem;
    width: 50%;
}

.main .highlight .first {
    width: 50%;
}

.main ul {
    margin: var(--spacing-s);
}

.main li {
    padding-bottom: var(--spacing-s);
    /* margin-left: var(--spacing-xs); */
    font-size: var(--paragraph);
    color: var(--emphasis);
    list-style: square;
}

.main .last {
    display: flex;
    gap: 20px;

}

.main .last .first {
    width: 50%;
}

.main .last .second {
    width: 50%;
}

@media screen and (max-width: 760px) {
    .main .highlight-section {
        display: block;
    }

    .main .highlight .first {
        width: 100%;
    }

    .main .highlight{
        width: 100%;
    }

    .main .last {
        display: block;

    }

    .main .last .first {
        width: 100%;
    }

    .main .last .second {
        width: 100%;
    }

    .main ul {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }

    .main {
        padding-inline: var(--spacing-s);
    }

    .main.info_block {
        flex-direction: column;
    }

    .main .highlight {
        padding: var(--spacing-s);
        max-width: var(--text-width-wide);
    }
}
